.row.center-xs.middle-xs.dark-blue.full-height
	.col-xs-12.col-sm-8
		.box.white-text
			%h1 LIVE
			%p Liderazgo Virtuoso y Emprendedor
			=link_to "Registrarme", new_participant_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
