.row.center-xs.middle-xs.blue.full-height
	.col-xs-12.col-sm-8
		.box.white-text
			%h1 LIVE
			%p Liderazgo Virtuoso y Emprendedor
.row.center-xs.middle-xs.red.full-height
	.col-xs-12.col-sm-8
		.box.white-text
			%h1 hola mundo
.row.center-xs.middle-xs.teal.full-height
	.col-xs-12.col-sm-8
		.box.white-text
			%h1 hola mundo