body{
    height: 100%;
    margin: 0;
    padding: 0;
}
// tamaños
.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}
// Fonts Family
.logo-font{
    font-family: 'Pacifico';
}
// Fonts Size
.bigger-font{
    font-size: 5em;
}
.big-font{
    font-size: 1.5em;
}
// Paddings
.large-padding{
    padding: 3em 5em;
}
//margins
.margin-top{
    margin-top: 1em;
}